.container {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.my-name {
  font-size: 5em;
}

.about {
  padding-top: 100px;
  width: 250px;
}

.about ul li {
  list-style: none;
}

.about ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
